swagger: '2.0'
info:
  title: Tinder API
  version: '1.0'
  contact:
    name: Kaktushose
    url: 'https://github.com/rednit-team/tinder-api-docs'
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
  description: ''
host: api.gotinder.com
schemes:
  - https
produces:
  - application/json
consumes:
  - application/json
paths:
  /profile:
    get:
      summary: Profile
      tags: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Profile'
          examples: {}
        '400':
          $ref: '#/responses/Bad-Request'
        '401':
          $ref: '#/responses/Unauthorized'
      operationId: get-profile
      description: Returns information about the self user
    parameters: []
definitions:
  Profile:
    description: The self user
    type: object
    x-examples:
      Example:
        _id: userId
        age_filter_max: 1000
        age_filter_min: 18
        badges:
          - type: selfie_verified
        bio: Swipe Right
        birth_date: '2020-09-17T00:00:00.000Z'
        create_date: '2020-09-17T00:00:00.000Z'
        distance_filter: 100
        email: noreply@gotinder.com
        gender: 0
        gender_filter: 1
        instagram:
          completed_initial_fetch: true
          last_fetch_time: '2020-09-17T00:00:00.000Z'
          media_count: 6
          photos:
            - id: id
              image: url
              thumbnail: url
              ts: '0123456789'
          username: user.name
        interested_in:
          - 1
        jobs:
          - company:
              displayed: true
              name: Rednit
            title:
              displayed: true
              name: Developer
        name: Kaktushose
        photos:
          - id: photoId
            assets: []
            type: image
            created_at: '2020-09-17T00:00:00.000Z'
            updated_at: '2020-09-17T00:00:00.000Z'
            crop_info:
              processed_by_bullseye: true
              user_customized: false
            url: 'https://images-ssl.gotinder.com/userId/original_photoId.png'
            processedFiles:
              - url: 'https://images-ssl.gotinder.com/userId/640x800_photoId.jpg'
                height: 800
                width: 640
              - url: 'https://images-ssl.gotinder.com/userId/320x400_photoId.jpg'
                height: 400
                width: 320
              - url: 'https://images-ssl.gotinder.com/userId/172x216_photoId.jpg'
                height: 216
                width: 172
              - url: 'https://images-ssl.gotinder.com/userId/84x106_photoId.jpg'
                height: 106
                width: 84
            fileName: photoId.jpg
            extension: 'jpg,webp'
            fbId: directupload
            webp_qf:
              - 75
            rank: 0
            score: 0.5
            win_count: 1
            phash:
              version: pHash v1.0
              value: 123456789
            dhash:
              version: dHash v1.0
              value: 123456789
        photo_optimizer_enabled: false
        ping_time: '2021-09-20T13:34:42.870Z'
        pos:
          at: 0
          lat: 0
          lon: 0
        pos_info:
          country:
            name: Germany
            cc: DE
            alpha3: DEU
          timezone: Europe/Berlin
        schools:
          - displayed: true
            metadata_id: ope_217800
            name: Massachusetts Institute of Technology
        show_gender_on_profile: false
        can_create_squad: false
    title: ''
    x-internal: false
    properties:
      _id:
        type: string
      age_filter_max:
        type: number
      age_filter_min:
        type: number
      badges:
        type: array
        items:
          $ref: '#/definitions/Badge'
      bio:
        type: string
      birth_date:
        type: string
      create_date:
        type: string
      distance_filter:
        type: number
      email:
        type: string
      gender:
        type: number
      gender_filter:
        type: number
      instagram:
        $ref: '#/definitions/Instagram'
      interested_in:
        type: array
        items:
          type: object
      jobs:
        type: array
        uniqueItems: false
        items:
          $ref: '#/definitions/Job'
      name:
        type: string
      photos:
        type: array
        uniqueItems: false
        items:
          $ref: '#/definitions/Profile-Photo'
      photo_optimizer_enabled:
        type: boolean
      ping_time:
        type: string
      pos:
        $ref: '#/definitions/Position'
      pos_info:
        $ref: '#/definitions/Position-Info'
      schools:
        type: array
        uniqueItems: false
        items:
          $ref: '#/definitions/School'
      show_gender_on_profile:
        type: boolean
      can_create_squad:
        type: boolean
    required:
      - _id
      - age_filter_max
      - age_filter_min
      - badges
      - bio
      - birth_date
      - create_date
      - distance_filter
      - email
      - gender
      - gender_filter
      - instagram
      - interested_in
      - jobs
      - name
      - photos
      - photo_optimizer_enabled
      - ping_time
      - pos
      - pos_info
      - schools
      - show_gender_on_profile
      - can_create_squad
  User:
    description: A Tinder User
    type: object
    x-examples:
      Example:
        common_friends: []
        common_friend_count: 0
        spotify_top_artists:
          - id: 6qqNVTkY8uBg9cP3Jd7DAH
            name: Billie Eilish
            selected: true
            top_track:
              id: 4RVwu0g32PAqgUiJoXsdF8
              name: Happier Than Ever
              album:
                id: 0JGOiO34nwfUdDrD612dOp
                name: Happier Than Ever
                images:
                  - height: 640
                    width: 640
                    url: 'https://i.scdn.co/image/ab67616d0000b2732a038d3bf875d23e4aeaa84e'
                  - height: 300
                    width: 300
                    url: 'https://i.scdn.co/image/ab67616d00001e022a038d3bf875d23e4aeaa84e'
                  - height: 64
                    width: 64
                    url: 'https://i.scdn.co/image/ab67616d000048512a038d3bf875d23e4aeaa84e'
                artists:
                  - id: 6qqNVTkY8uBg9cP3Jd7DAH
                    name: Billie Eilish
                preview_url: 'https://p.scdn.co/mp3-preview/ff8b7f628f9007cab08e767ca6646d5d90a614ca?cid=b06a803d686e4612bdc074e786e94062'
                uri: 'spotify:track:4RVwu0g32PAqgUiJoXsdF8'
        spotify_theme_track:
          id: 4Mp72AzdE8PP2A9LXaTiXJ
          name: Get It Right
          album:
            id: 4Oacw8imhP7mtX0yRiRCDX
            name: Permanent Midnight
            images:
              - height: 640
                width: 640
                url: 'https://i.scdn.co/image/ab67616d0000b2732210a267b2250c444d7d6add'
              - height: 300
                width: 300
                url: 'https://i.scdn.co/image/ab67616d00001e022210a267b2250c444d7d6add'
              - height: 64
                width: 64
                url: 'https://i.scdn.co/image/ab67616d000048512210a267b2250c444d7d6add'
          artists:
            - id: 2gIGkRqCo4NK2PUCI8u4aQ
              name: Left Boy
          preview_url: 'https://p.scdn.co/mp3-preview/b19a92a254a70c0a3891af266a796ab83834b5df?cid=b06a803d686e4612bdc074e786e94062'
          uri: 'spotify:track:4Mp72AzdE8PP2A9LXaTiXJ'
        distance_mi: 31
        connection_count: 0
        common_connections: []
        bio: Swipe Left
        birth_date: '2002-09-30T12:13:59.039Z'
        name: MeerBiene
        jobs: []
        schools: []
        teasers:
          - type: job
            string: Developer
        gender: -1
        show_gender_on_profile: false
        sexual_orientations:
          - id: str
            name: Straight
        birth_date_info: 'fuzzy birth date active, not displaying real birth_date'
        ping_time: '2014-12-09T00:00:00.000Z'
        badges:
          - type: selfie_verified
        photos:
          - id: photoId
            assets: []
            type: image
            created_at: '2021-05-19T13:42:20.976Z'
            updated_at: '2021-05-19T13:42:29.326Z'
            crop_info:
              user:
                width_pct: 1
                x_offset_pct: 0
                height_pct: 0.8
                y_offset_pct: 0
              algo:
                width_pct: 0.3155729
                x_offset_pct: 0.1249982
                height_pct: 0.35462007
                y_offset_pct: 0.10779645
              processed_by_bullseye: true
              user_customized: false
              faces:
                - algo:
                    width_pct: 0.3155729
                    x_offset_pct: 0.1249982
                    height_pct: 0.35462007
                    y_offset_pct: 0.10779645
                  bounding_box_percentage: 11.19
            url: 'https://images-ssl.gotinder.com/userId/original_photoId.png'
            processedFiles:
              - url: 'https://images-ssl.gotinder.com/userId/640x800_photoId.jpg'
                height: 800
                width: 640
              - url: 'https://images-ssl.gotinder.com/userId/320x400_photoId.jpg'
                height: 400
                width: 320
              - url: 'https://images-ssl.gotinder.com/userId/172x216_photoId.jpg'
                height: 216
                width: 172
              - url: 'https://images-ssl.gotinder.com/userId/84x106_photoId.jpg'
                height: 106
                width: 84
            fileName: photoId.jpg
            extension: 'jpg,webp'
            fbId: directupload
            webp_qf:
              - 75
            rank: 0
            score: 0.8558056
            win_count: 1
            phash:
              version: pHash v1.0
              value: 123456789
            dhash:
              version: dHash v1.0
              value: 123456789
        common_likes: []
        common_like_count: 0
        city:
          name: Maribo
        common_interests: []
        selected_descriptors:
          - id: de_6
            name: Drink of Choice
            prompt: Cheers! What drink are you toasting with?
            type: single_selection_set
            icon_url: 'https://static-assets.gotinder.com/icons/descriptors/drink_of_choice@3x.png'
            icon_urls:
              - url: 'https://static-assets.gotinder.com/icons/descriptors/drink_of_choice@1x.png'
                quality: 1x
                width: 22
                height: 22
              - url: 'https://static-assets.gotinder.com/icons/descriptors/drink_of_choice@2x.png'
                quality: 2x
                width: 44
                height: 44
              - url: 'https://static-assets.gotinder.com/icons/descriptors/drink_of_choice@3x.png'
                quality: 3x
                width: 66
                height: 66
            choice_selections:
              - id: '2'
                name: Beer
        user_interests:
          selected_interests:
            - id: it_69
              name: Athlete
            - id: it_7
              name: Travel
            - id: it_1
              name: Coffee
            - id: it_2
              name: Grab a drink
        s_number: 123456789
        _id: userId
        is_tinder_u: false
    title: ''
    properties:
      common_friends:
        type: array
        items:
          type: object
      common_friend_count:
        type: number
      spotify_top_artists:
        type: array
        uniqueItems: false
        items:
          $ref: '#/definitions/Spotify-Top-Artist'
      spotify_theme_track:
        $ref: '#/definitions/Spotify-Track'
      distance_mi:
        type: number
      connection_count:
        type: number
      common_connections:
        type: array
        items:
          type: object
      bio:
        type: string
      birth_date:
        type: string
      name:
        type: string
      jobs:
        type: array
        items:
          $ref: '#/definitions/Job'
      schools:
        type: array
        items:
          $ref: '#/definitions/School'
      teasers:
        type: array
        uniqueItems: false
        items:
          $ref: '#/definitions/Teaser'
      gender:
        type: number
      show_gender_on_profile:
        type: boolean
      sexual_orientations:
        type: array
        uniqueItems: false
        items:
          $ref: '#/definitions/Sexual-Orientation'
      birth_date_info:
        type: string
      ping_time:
        type: string
      badges:
        type: array
        uniqueItems: false
        items:
          $ref: '#/definitions/Badge'
      photos:
        type: array
        uniqueItems: false
        items:
          $ref: '#/definitions/User-Photo'
      common_likes:
        type: array
        items:
          type: object
      common_like_count:
        type: number
      common_interests:
        type: array
        items:
          type: object
      selected_descriptors:
        type: array
        uniqueItems: false
        items:
          $ref: '#/definitions/Descriptor'
      s_number:
        type: number
      _id:
        type: string
      is_tinder_u:
        type: boolean
      city:
        type: object
        properties:
          name:
            type: string
        required:
          - name
      user_interests:
        type: object
        properties:
          selected_interests:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
                name:
                  type: string
              required:
                - id
                - name
        required:
          - selected_interests
    required:
      - common_friends
      - common_friend_count
      - distance_mi
      - connection_count
      - common_connections
      - bio
      - birth_date
      - name
      - jobs
      - schools
      - teasers
      - gender
      - show_gender_on_profile
      - birth_date_info
      - ping_time
      - badges
      - photos
      - common_likes
      - common_like_count
      - common_interests
      - s_number
      - _id
      - is_tinder_u
  Instagram:
    description: Information about the connected instagram account of a user or profile
    type: object
    x-examples:
      Successful Instagram Auth:
        last_fetch_time: '2020-09-17T00:00:00.000Z'
        completed_initial_fetch: true
        photos:
          - image: url
            thumbnail: url
            ts: '0123456789'
        media_count: 1
        username: user.name
      Unsuccessful Instagram Auth:
        completed_initial_fetch: false
        photos: []
        media_count: 0
    title: ''
    properties:
      last_fetch_time:
        type: string
      completed_initial_fetch:
        type: boolean
      photos:
        type: array
        uniqueItems: false
        items:
          type: object
          properties:
            image:
              type: string
            thumbnail:
              type: string
            ts:
              type: string
          required:
            - image
            - thumbnail
            - ts
      media_count:
        type: number
      username:
        type: string
    required:
      - completed_initial_fetch
      - photos
      - media_count
  Spotify-Track:
    description: A spotify track used in the top track or top artists
    type: object
    x-examples:
      Example:
        id: 4cOdK2wGLETKBW3PvgPWqT
        name: Never Gonna Give You Up
        album:
          id: 5Z9iiGl2FcIfa3BMiv6OIw
          name: Whenever You Need Somebody
          images:
            - height: 640
              width: 640
              url: 'https://i.scdn.co/image/ab67616d0000b2735755e164993798e0c9ef7d7a'
            - height: 300
              width: 300
              url: 'https://i.scdn.co/image/ab67616d00001e025755e164993798e0c9ef7d7a'
            - height: 64
              width: 64
              url: 'https://i.scdn.co/image/ab67616d000048515755e164993798e0c9ef7d7a'
        artists:
          - id: 0gxyHStUsqpMadRV0Di1Qt
            name: Rick Astley
        preview_url: 'https://p.scdn.co/mp3-preview/0b6da17f858f104337fac626c4bac972d3947564?cid=b06a803d686e4612bdc074e786e94062'
        uri: 'spotify:track:4cOdK2wGLETKBW3PvgPWqT'
    title: ''
    properties:
      id:
        type: string
      name:
        type: string
      album:
        type: object
        required:
          - id
          - name
          - images
        properties:
          id:
            type: string
          name:
            type: string
          images:
            type: array
            uniqueItems: false
            items:
              $ref: '#/definitions/Sized-Image'
      artists:
        type: array
        uniqueItems: false
        items:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
          required:
            - id
            - name
      preview_url:
        type: string
      uri:
        type: string
    required:
      - id
      - name
      - album
      - artists
      - preview_url
      - uri
  Spotify-Top-Artist:
    description: An artist used in the spotify top artists
    type: object
    x-examples:
      Example:
        id: 0gxyHStUsqpMadRV0Di1Qt
        name: Rick Astley
        selected: true
        top_track:
          id: 4cOdK2wGLETKBW3PvgPWqT
          name: Never Gonna Give You Up
          album:
            id: 5Z9iiGl2FcIfa3BMiv6OIw
            name: Whenever You Need Somebody
            images:
              - height: 640
                width: 640
                url: 'https://i.scdn.co/image/ab67616d0000b2735755e164993798e0c9ef7d7a'
              - height: 300
                width: 300
                url: 'https://i.scdn.co/image/ab67616d00001e025755e164993798e0c9ef7d7a'
              - height: 64
                width: 64
                url: 'https://i.scdn.co/image/ab67616d000048515755e164993798e0c9ef7d7a'
          artists:
            - id: 0gxyHStUsqpMadRV0Di1Qt
              name: Rick Astley
          preview_url: 'https://p.scdn.co/mp3-preview/0b6da17f858f104337fac626c4bac972d3947564?cid=b06a803d686e4612bdc074e786e94062'
          uri: 'spotify:track:4cOdK2wGLETKBW3PvgPWqT'
    properties:
      id:
        type: string
      name:
        type: string
      selected:
        type: boolean
      top_track:
        $ref: '#/definitions/Spotify-Track'
    required:
      - id
      - name
      - selected
      - top_track
  Profile-Photo:
    description: A photo inside a profile object
    type: object
    x-examples:
      Example:
        id: photoId
        assets: []
        type: image
        created_at: '2021-05-19T13:42:20.976Z'
        updated_at: '2021-05-19T13:42:29.326Z'
        crop_info:
          user:
            width_pct: 1
            x_offset_pct: 0
            height_pct: 0.8
            y_offset_pct: 0
          algo:
            width_pct: 0.3155729
            x_offset_pct: 0.1249982
            height_pct: 0.35462007
            y_offset_pct: 0.10779645
          processed_by_bullseye: true
          user_customized: false
          faces:
            - algo:
                width_pct: 0.3155729
                x_offset_pct: 0.1249982
                height_pct: 0.35462007
                y_offset_pct: 0.10779645
              bounding_box_percentage: 11.19
        url: 'https://images-ssl.gotinder.com/userId/original_photoId.png'
        processedFiles:
          - url: 'https://images-ssl.gotinder.com/userId/640x800_photoId.jpg'
            height: 800
            width: 640
          - url: 'https://images-ssl.gotinder.com/userId/320x400_photoId.jpg'
            height: 400
            width: 320
          - url: 'https://images-ssl.gotinder.com/userId/172x216_photoId.jpg'
            height: 216
            width: 172
          - url: 'https://images-ssl.gotinder.com/userId/84x106_photoId.jpg'
            height: 106
            width: 84
        fileName: photoId.jpg
        extension: 'jpg,webp'
        fbId: directupload
        webp_qf:
          - 75
        rank: 0
        score: 0.8558056
        win_count: 1
        phash:
          version: pHash v1.0
          value: 123456789
        dhash:
          version: dHash v1.0
          value: 123456789
    properties:
      id:
        type: string
      assets:
        type: array
        items:
          type: object
      type:
        type: string
        description: ''
      created_at:
        type: string
      updated_at:
        type: string
      crop_info:
        $ref: '#/definitions/Crop-Info'
      url:
        type: string
      processedFiles:
        type: array
        uniqueItems: false
        items:
          $ref: '#/definitions/Sized-Image'
      fileName:
        type: string
      extension:
        type: string
      fbId:
        type: string
      webp_qf:
        type: array
        items:
          type: object
      rank:
        type: number
      score:
        type: number
      win_count:
        type: number
      phash:
        type: object
        required:
          - version
          - value
        properties:
          version:
            type: string
          value:
            type: number
      dhash:
        type: object
        required:
          - version
          - value
        properties:
          version:
            type: string
          value:
            type: number
    required:
      - id
      - assets
      - type
      - created_at
      - updated_at
      - crop_info
      - url
      - processedFiles
      - fileName
      - extension
      - fbId
      - webp_qf
      - rank
      - score
      - win_count
      - phash
      - dhash
  User-Photo:
    description: A photo inside a user object
    type: object
    x-examples:
      Example:
        id: photoId
        crop_info:
          user:
            width_pct: 1
            x_offset_pct: 0
            height_pct: 0.8
            y_offset_pct: 0
          algo:
            width_pct: 0.5442686
            x_offset_pct: 0.45573142
            height_pct: 0.5571207
            y_offset_pct: 0.1011261
          processed_by_bullseye: true
          user_customized: false
          faces:
            - algo:
                width_pct: 0.3155729
                x_offset_pct: 0.1249982
                height_pct: 0.35462007
                y_offset_pct: 0.10779645
              bounding_box_percentage: 31.68
        url: 'https://images-ssl.gotinder.com/userId/original_photoId.png'
        processedFiles:
          - url: 'https://images-ssl.gotinder.com/userId/640x800_photoId.jpg'
            height: 800
            width: 640
          - url: 'https://images-ssl.gotinder.com/userId/320x400_photoId.jpg'
            height: 400
            width: 320
          - url: 'https://images-ssl.gotinder.com/userId/172x216_photoId.jpg'
            height: 216
            width: 172
          - url: 'https://images-ssl.gotinder.com/userId/84x106_photoId.jpg'
            height: 106
            width: 84
        fileName: 1f440c17-8f4f-4f4f-be7a-28932b4f3c55.jpg
        extension: 'jpg,webp'
        media_type: image
    properties:
      id:
        type: string
      crop_info:
        $ref: '#/definitions/Crop-Info'
      url:
        type: string
      processedFiles:
        type: array
        uniqueItems: false
        items:
          $ref: '#/definitions/Sized-Image'
      fileName:
        type: string
      extension:
        type: string
      media_type:
        type: string
    required:
      - id
      - crop_info
      - url
      - processedFiles
      - fileName
      - extension
      - media_type
  Match-Photo:
    description: A photo inside a user object inside a match object
    type: object
    x-examples:
      Example:
        id: photoId
        crop_info:
          user:
            width_pct: 1
            x_offset_pct: 0
            height_pct: 0.8
            y_offset_pct: 0
          algo:
            width_pct: 0.5192223265883513
            x_offset_pct: 0.2525442640646361
            height_pct: 0.5761317486129701
            y_offset_pct: 0.005794935673475265
          processed_by_bullseye: true
          user_customized: false
          faces:
            - algo:
                width_pct: 0.5192223265883513
                x_offset_pct: 0.2525442640646361
                height_pct: 0.5761317486129701
                y_offset_pct: 0.005794935673475265
              bounding_box_percentage: 29.91
        url: 'https://images-ssl.gotinder.com/userId/original_photoId.png'
        processedFiles:
          - url: 'https://images-ssl.gotinder.com/userId/640x800_photoId.jpg'
            height: 800
            width: 640
          - url: 'https://images-ssl.gotinder.com/userId/320x400_photoId.jpg'
            height: 400
            width: 320
          - url: 'https://images-ssl.gotinder.com/userId/172x216_photoId.jpg'
            height: 216
            width: 172
          - url: 'https://images-ssl.gotinder.com/userId/84x106_photoId.jpg'
            height: 106
            width: 84
        fileName: photoId.jpg
        extension: 'jpg,webp'
        webp_qf:
          - 75
        rank: 5
        score: 0.08164535
        win_count: 3
        assets: []
        type: image
    properties:
      id:
        type: string
      crop_info:
        $ref: '#/definitions/Crop-Info'
      url:
        type: string
      processedFiles:
        type: array
        uniqueItems: false
        items:
          $ref: '#/definitions/Sized-Image'
      fileName:
        type: string
      extension:
        type: string
      webp_qf:
        type: array
        uniqueItems: false
        items:
          type: object
      rank:
        type: number
      score:
        type: number
      win_count:
        type: number
      assets:
        type: array
        items:
          type: object
      type:
        type: string
    required:
      - id
      - crop_info
      - url
      - processedFiles
      - fileName
      - extension
      - webp_qf
      - rank
      - score
      - win_count
      - assets
      - type
  Sized-Image:
    description: A sized user image or album cover
    type: object
    x-examples:
      Example:
        height: 64
        width: 64
        url: 'https://cdn.webiste.com/url'
    properties:
      height:
        type: number
      width:
        type: number
      url:
        type: string
      quality:
        type: string
        description: only used in Descriptor images
    required:
      - height
      - width
      - url
  Crop-Info:
    description: Facial recognition information
    type: object
    x-examples:
      With Face:
        user:
          width_pct: 1
          x_offset_pct: 0
          height_pct: 0.8
          y_offset_pct: 0.1410735351720359
        algo:
          width_pct: 0.6774477237602696
          x_offset_pct: 0.1799806572496891
          height_pct: 0.7370133028714918
          y_offset_pct: 0.17256688373629003
        processed_by_bullseye: true
        user_customized: false
        faces:
          - algo:
              width_pct: 0.6774477237602696
              x_offset_pct: 0.1799806572496891
              height_pct: 0.7370133028714918
              y_offset_pct: 0.17256688373629003
            bounding_box_percentage: 49.93
      Without Face:
        processed_by_bullseye: true
        user_customized: true
    properties:
      user:
        $ref: '#/definitions/Facial-Scope'
      algo:
        $ref: '#/definitions/Facial-Scope'
      processed_by_bullseye:
        type: boolean
      user_customized:
        type: boolean
      faces:
        type: array
        uniqueItems: false
        items:
          type: object
          properties:
            algo:
              $ref: '#/definitions/Facial-Scope'
            bounding_box_percentage:
              type: number
          required:
            - bounding_box_percentage
    required:
      - processed_by_bullseye
      - user_customized
    x-internal: false
  Facial-Scope:
    description: Facial recognition coordinates
    type: object
    properties:
      width_pct:
        type: number
      x_offset_pct:
        type: number
      height_pct:
        type: number
      y_offset_pct:
        type: number
    required:
      - width_pct
      - x_offset_pct
      - height_pct
      - y_offset_pct
    x-examples:
      example-1:
        width_pct: 0.6774477237602696
        x_offset_pct: 0.1799806572496891
        height_pct: 0.7370133028714918
        y_offset_pct: 0.17256688373629003
    x-internal: false
  Badge:
    description: Profile badges
    type: object
    x-examples:
      Selfie Verified:
        type: selfie_verified
    properties:
      type:
        type: string
    required:
      - type
  Job:
    description: Company and job title information
    type: object
    x-examples:
      Company & Title:
        company:
          displayed: true
          name: Tinder
        title:
          displayed: true
          name: Developer
      Only Company:
        company:
          displayed: true
          name: Tinder
      Only Title:
        title:
          displayed: true
          name: Developer
    properties:
      company:
        type: object
        required:
          - displayed
          - name
        properties:
          displayed:
            type: boolean
          name:
            type: string
      title:
        type: object
        required:
          - displayed
          - name
        properties:
          displayed:
            type: boolean
          name:
            type: string
  School:
    description: School information
    type: object
    x-examples:
      Example:
        displayed: true
        metadata_id: ope_217800
        name: Massachusetts Institute of Technology
    properties:
      displayed:
        type: boolean
      metadata_id:
        type: string
      name:
        type: string
    required:
      - displayed
      - metadata_id
      - name
  Position:
    description: Position information about the coordinates
    type: object
    properties:
      at:
        type: number
      lat:
        type: number
      lon:
        type: number
    required:
      - at
      - lat
      - lon
    x-examples:
      Example:
        at: 0
        lat: 0
        lon: 0
  Position-Info:
    description: Position information about the country
    type: object
    x-examples:
      Example:
        country:
          name: Germany
          cc: DE
          alpha3: DEU
        timezone: Europe/Berlin
    properties:
      country:
        type: object
        required:
          - name
          - cc
          - alpha3
        properties:
          name:
            type: string
          cc:
            type: string
          alpha3:
            type: string
      timezone:
        type: string
    required:
      - country
      - timezone
  Descriptor:
    description: 'A single Lifestyle question '
    type: object
    x-examples:
      Zodiac:
        id: de_1
        name: Zodiac
        prompt: What's your zodiac sign?
        type: single_selection_set
        icon_url: 'https://static-assets.gotinder.com/icons/descriptors/astrological_sign@3x.png'
        icon_urls:
          - url: 'https://static-assets.gotinder.com/icons/descriptors/astrological_sign@1x.png'
            quality: 1x
            width: 22
            height: 22
          - url: 'https://static-assets.gotinder.com/icons/descriptors/astrological_sign@2x.png'
            quality: 2x
            width: 44
            height: 44
          - url: 'https://static-assets.gotinder.com/icons/descriptors/astrological_sign@3x.png'
            quality: 3x
            width: 66
            height: 66
        choice_selections:
          - id: '10'
            name: Libra
    properties:
      id:
        type: string
      name:
        type: string
      prompt:
        type: string
      type:
        type: string
      icon_url:
        type: string
      icon_urls:
        type: array
        uniqueItems: false
        items:
          $ref: '#/definitions/Sized-Image'
      choice_selections:
        type: array
        uniqueItems: false
        items:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
          required:
            - id
            - name
    required:
      - id
      - name
      - prompt
      - type
      - icon_url
      - icon_urls
      - choice_selections
  Teaser:
    description: ''
    type: object
    x-examples:
      Example:
        type: job
        string: Developer
    properties:
      type:
        type: string
      string:
        type: string
    required:
      - type
      - string
  Like-Preview:
    description: ''
    type: object
    x-examples:
      Example:
        user:
          _id: previewUserId
          photos:
            - id: photoId
              crop_info:
                user:
                  width_pct: 1
                  x_offset_pct: 0
                  height_pct: 0.8
                  y_offset_pct: 0
                algo:
                  width_pct: 0.3155729
                  x_offset_pct: 0.1249982
                  height_pct: 0.35462007
                  y_offset_pct: 0.10779645
                processed_by_bullseye: true
                user_customized: false
                faces:
                  - algo:
                      width_pct: 0.3155729
                      x_offset_pct: 0.1249982
                      height_pct: 0.35462007
                      y_offset_pct: 0.10779645
                    bounding_box_percentage: 11.19
              url: 'https://preview.gotinder.com/previewUserId/original_photoId.png'
              processedFiles:
                - url: 'https://preview.gotinder.com/previewUserId/640x800_photoId.jpg'
                  height: 800
                  width: 640
                - url: 'https://preview.gotinder.com/previewUserId/320x400_photoId.jpg'
                  height: 400
                  width: 320
                - url: 'https://preview.gotinder.com/previewUserId/172x216_photoId.jpg'
                  height: 216
                  width: 172
                - url: 'https://preview.gotinder.com/previewUserId/84x106_photoId.jpg'
                  height: 106
                  width: 84
              fileName: photoId.jpg
              extension: 'jpg,webp'
              media_type: image
          recently_active: true
    properties:
      user:
        type: object
        required:
          - _id
          - photos
          - recently_active
        properties:
          _id:
            type: string
          photos:
            type: array
            uniqueItems: false
            items:
              type: object
              properties:
                id:
                  type: string
                crop_info:
                  $ref: '#/definitions/Crop-Info'
                url:
                  type: string
                processedFiles:
                  type: array
                  uniqueItems: false
                  items:
                    $ref: '#/definitions/Sized-Image'
                fileName:
                  type: string
                extension:
                  type: string
                media_type:
                  type: string
              required:
                - id
                - url
                - fileName
                - extension
                - media_type
          recently_active:
            type: boolean
    required:
      - user
  Sexual-Orientation:
    description: ''
    type: object
    x-examples:
      Example:
        id: str
        name: Straight
    properties:
      id:
        type: string
      name:
        type: string
    required:
      - id
      - name
  Match:
    description: ''
    type: object
    x-examples:
      Example:
        _id: selfUserIdmatchedUserId
        id: selfUserIdmatchedUserId
        closed: false
        common_friend_count: 0
        common_like_count: 0
        created_date: '2021-09-21T07:45:56.636Z'
        dead: false
        last_activity_date: '2021-09-21T07:45:56.636Z'
        message_count: 0
        messages: []
        participants:
          - matchedUserId
        pending: false
        is_super_like: false
        is_boost_match: false
        is_super_boost_match: false
        is_experiences_match: false
        is_fast_match: false
        is_opener: true
        person:
          _id: matchedUserId
          badges: []
          bio: Hello World
          birth_date: '2002-10-06T11:19:48.354Z'
          gender: 1
          name: Snowland
          ping_time: '2014-12-09T00:00:00.000Z'
          photos:
            - id: photoId
              crop_info:
                user:
                  width_pct: 1
                  x_offset_pct: 0
                  height_pct: 0.8
                  y_offset_pct: 0
                algo:
                  width_pct: 0.5192223265883513
                  x_offset_pct: 0.2525442640646361
                  height_pct: 0.5761317486129701
                  y_offset_pct: 0.005794935673475265
                processed_by_bullseye: true
                user_customized: false
                faces:
                  - algo:
                      width_pct: 0.5192223265883513
                      x_offset_pct: 0.2525442640646361
                      height_pct: 0.5761317486129701
                      y_offset_pct: 0.005794935673475265
                    bounding_box_percentage: 29.91
              url: 'https://images-ssl.gotinder.com/userId/original_photoId.png'
              processedFiles:
                - url: 'https://images-ssl.gotinder.com/userId/640x800_photoId.jpg'
                  height: 800
                  width: 640
                - url: 'https://images-ssl.gotinder.com/userId/320x400_photoId.jpg'
                  height: 400
                  width: 320
                - url: 'https://images-ssl.gotinder.com/userId/172x216_photoId.jpg'
                  height: 216
                  width: 172
                - url: 'https://images-ssl.gotinder.com/userId/84x106_photoId.jpg'
                  height: 106
                  width: 84
              fileName: photoId.jpg
              extension: 'jpg,webp'
              webp_qf:
                - 75
              rank: 5
              score: 0.08164535
              win_count: 3
              assets: []
              type: image
        following: true
        following_moments: true
    title: ''
    properties:
      _id:
        type: string
      id:
        type: string
      closed:
        type: boolean
      common_friend_count:
        type: number
      common_like_count:
        type: number
      created_date:
        type: string
      dead:
        type: boolean
      last_activity_date:
        type: string
      message_count:
        type: number
      messages:
        type: array
        items:
          type: object
      participants:
        type: array
        items:
          type: string
      pending:
        type: boolean
      is_super_like:
        type: boolean
      is_boost_match:
        type: boolean
      is_super_boost_match:
        type: boolean
      is_experiences_match:
        type: boolean
      is_fast_match:
        type: boolean
      is_opener:
        type: boolean
      person:
        $ref: '#/definitions/Matched-User'
      following:
        type: boolean
      following_moments:
        type: boolean
    required:
      - _id
      - id
      - closed
      - common_friend_count
      - common_like_count
      - created_date
      - dead
      - last_activity_date
      - message_count
      - messages
      - participants
      - pending
      - is_super_like
      - is_boost_match
      - is_super_boost_match
      - is_experiences_match
      - is_fast_match
      - is_opener
      - person
      - following
      - following_moments
  Matched-User:
    description: A user object inside a match object
    type: object
    x-examples:
      Example:
        _id: userId
        badges: []
        bio: Hello World
        birth_date: '2002-10-06T11:19:48.354Z'
        gender: 1
        name: Snowland
        ping_time: '2014-12-09T00:00:00.000Z'
        photos:
          - id: photoId
            crop_info:
              user:
                width_pct: 1
                x_offset_pct: 0
                height_pct: 0.8
                y_offset_pct: 0
              algo:
                width_pct: 0.5192223265883513
                x_offset_pct: 0.2525442640646361
                height_pct: 0.5761317486129701
                y_offset_pct: 0.005794935673475265
              processed_by_bullseye: true
              user_customized: false
              faces:
                - algo:
                    width_pct: 0.5192223265883513
                    x_offset_pct: 0.2525442640646361
                    height_pct: 0.5761317486129701
                    y_offset_pct: 0.005794935673475265
                  bounding_box_percentage: 29.91
            url: 'https://images-ssl.gotinder.com/userId/original_photoId.png'
            processedFiles:
              - url: 'https://images-ssl.gotinder.com/userId/640x800_photoId.jpg'
                height: 800
                width: 640
              - url: 'https://images-ssl.gotinder.com/userId/320x400_photoId.jpg'
                height: 400
                width: 320
              - url: 'https://images-ssl.gotinder.com/userId/172x216_photoId.jpg'
                height: 216
                width: 172
              - url: 'https://images-ssl.gotinder.com/userId/84x106_photoId.jpg'
                height: 106
                width: 84
            fileName: photoId.jpg
            extension: 'jpg,webp'
            webp_qf:
              - 75
            rank: 5
            score: 0.08164535
            win_count: 3
            assets: []
            type: image
    properties:
      _id:
        type: string
      badges:
        type: array
        items:
          $ref: '#/definitions/Badge'
      bio:
        type: string
      birth_date:
        type: string
      gender:
        type: number
      name:
        type: string
      ping_time:
        type: string
      photos:
        type: array
        items:
          $ref: '#/definitions/Match-Photo'
    required:
      - _id
      - badges
      - bio
      - birth_date
      - gender
      - name
      - ping_time
      - photos
  Message:
    description: ''
    type: object
    x-examples:
      Normal Message:
        _id: messageId
        match_id: matchId
        sent_date: '2021-08-13T18:04:13.902Z'
        message: Hello World
        to: selfUserId
        from: matchedUserId
        created_date: '2021-08-13T18:04:13.902Z'
        timestamp: 1628877853902
      GIF:
        _id: messageId
        match_id: matchId
        sent_date: '2021-08-13T18:04:13.902Z'
        message: 'https://media.tenor.com/images/0aecf7afed79bdfe5f09884a58013eb5/tenor.gif?width=498&height=373'
        to: selfUserId
        from: matchedUserId
        created_date: '2021-08-13T18:04:13.902Z'
        timestamp: 1628877853902
        fixed_height: 'https://media.tenor.com/images/33500dcafdfb87e535361c0e0fd8d3bc/tenor.gif?width=220&height=165'
        type: gif
      Contact Card:
        _id: messageId
        match_id: matchId
        sent_date: '2021-08-13T18:04:13.902Z'
        message: user.name
        to: selfUserId
        from: matchedUserId
        created_date: '2021-08-13T18:04:13.902Z'
        timestamp: 1628877853902
        type: contact_card
        contact_card:
          contact_id: user.name
          contact_type: instagram
          deeplink: 'https://instagram.com/name'
      Song:
        _id: messageId
        match_id: matchId
        sent_date: '2021-08-13T18:04:13.902Z'
        message: 'https://open.spotify.com/track/5Z9KJZvQzH6PFmb8SNkxuk'
        to: selfUserId
        from: matchedUserId
        created_date: '2021-08-13T18:04:13.902Z'
        timestamp: 1628877853902
        type: song
        song:
          name: INDUSTRY BABY (feat. Jack Harlow)
          id: 5Z9KJZvQzH6PFmb8SNkxuk
          artists:
            - name: Lil Nas X
              href: 'https://api.spotify.com/v1/artists/7jVv8c5Fj3E9VhNjxT4snq'
              id: 7jVv8c5Fj3E9VhNjxT4snq
              type: artist
              external_urls:
                spotify: 'https://open.spotify.com/artist/7jVv8c5Fj3E9VhNjxT4snq'
              uri: 'spotify:artist:7jVv8c5Fj3E9VhNjxT4snq'
            - name: Jack Harlow
              href: 'https://api.spotify.com/v1/artists/2LIk90788K0zvyj2JJVwkJ'
              id: 2LIk90788K0zvyj2JJVwkJ
              type: artist
              external_urls:
                spotify: 'https://open.spotify.com/artist/2LIk90788K0zvyj2JJVwkJ'
              uri: 'spotify:artist:2LIk90788K0zvyj2JJVwkJ'
          album:
            name: MONTERO
            images:
              - width: 640
                url: 'https://i.scdn.co/image/ab67616d0000b273be82673b5f79d9658ec0a9fd'
                height: 640
              - width: 300
                url: 'https://i.scdn.co/image/ab67616d00001e02be82673b5f79d9658ec0a9fd'
                height: 300
              - width: 64
                url: 'https://i.scdn.co/image/ab67616d00004851be82673b5f79d9658ec0a9fd'
                height: 64
          url: 'https://p.scdn.co/mp3-preview/c1cb40d748692992bd5e476fc17ffe16f31016e3?cid=b06a803d686e4612bdc074e786e94062'
      Sticker:
        _id: messageId
        match_id: matchId
        sent_date: '2021-08-13T18:04:13.902Z'
        message: 'https://media.tenor.com/images/0aecf7afed79bdfe5f09884a58013eb5/tenor.gif?width=498&height=373'
        to: selfUserId
        from: matchedUserId
        created_date: '2021-08-13T18:04:13.902Z'
        timestamp: 1628877853902
        fixed_height: 'https://media.tenor.com/images/33500dcafdfb87e535361c0e0fd8d3bc/tenor.gif?width=220&height=165'
        type: sticker
    properties:
      _id:
        type: string
      match_id:
        type: string
      sent_date:
        type: string
      message:
        type: string
      to:
        type: string
      from:
        type: string
      created_date:
        type: string
      timestamp:
        type: number
      fixed_height:
        type: string
      type:
        type: string
      contact_card:
        type: object
        properties:
          contact_id:
            type: string
          contact_type:
            type: string
          deeplink:
            type: string
        required:
          - contact_id
          - contact_type
      song:
        $ref: '#/definitions/Song-Attachment'
    required:
      - _id
      - match_id
      - sent_date
      - message
      - to
      - from
      - created_date
      - timestamp
  Song-Attachment:
    description: ''
    type: object
    x-examples:
      example-1:
        song:
          name: INDUSTRY BABY (feat. Jack Harlow)
          id: 5Z9KJZvQzH6PFmb8SNkxuk
          artists:
            - name: Lil Nas X
              href: 'https://api.spotify.com/v1/artists/7jVv8c5Fj3E9VhNjxT4snq'
              id: 7jVv8c5Fj3E9VhNjxT4snq
              type: artist
              external_urls:
                spotify: 'https://open.spotify.com/artist/7jVv8c5Fj3E9VhNjxT4snq'
              uri: 'spotify:artist:7jVv8c5Fj3E9VhNjxT4snq'
            - name: Jack Harlow
              href: 'https://api.spotify.com/v1/artists/2LIk90788K0zvyj2JJVwkJ'
              id: 2LIk90788K0zvyj2JJVwkJ
              type: artist
              external_urls:
                spotify: 'https://open.spotify.com/artist/2LIk90788K0zvyj2JJVwkJ'
              uri: 'spotify:artist:2LIk90788K0zvyj2JJVwkJ'
          album:
            name: MONTERO
            images:
              - width: 640
                url: 'https://i.scdn.co/image/ab67616d0000b273be82673b5f79d9658ec0a9fd'
                height: 640
              - width: 300
                url: 'https://i.scdn.co/image/ab67616d00001e02be82673b5f79d9658ec0a9fd'
                height: 300
              - width: 64
                url: 'https://i.scdn.co/image/ab67616d00004851be82673b5f79d9658ec0a9fd'
                height: 64
          url: 'https://p.scdn.co/mp3-preview/c1cb40d748692992bd5e476fc17ffe16f31016e3?cid=b06a803d686e4612bdc074e786e94062'
    properties:
      song:
        type: object
        required:
          - name
          - id
          - artists
          - album
          - url
        properties:
          name:
            type: string
          id:
            type: string
          artists:
            type: array
            uniqueItems: false
            items:
              type: object
              properties:
                name:
                  type: string
                href:
                  type: string
                id:
                  type: string
                type:
                  type: string
                external_urls:
                  type: object
                  properties:
                    spotify:
                      type: string
                  required:
                    - spotify
                uri:
                  type: string
              required:
                - name
                - href
                - id
                - type
                - uri
          album:
            type: object
            required:
              - name
              - images
            properties:
              name:
                type: string
              images:
                type: array
                uniqueItems: false
                items:
                  $ref: '#/definitions/Sized-Image'
          url:
            type: string
    required:
      - song
securityDefinitions:
  X-Auth-Token:
    name: X-Auth-Token
    type: apiKey
    in: header
security:
  - X-Auth-Token: []
responses:
  Bad-Request:
    description: ''
    content:
      application/json:
        schema:
          properties:
            id:
              type: string
    schema:
      description: ''
      type: object
      properties:
        meta:
          type: object
          properties:
            status:
              type: number
          required:
            - status
        error:
          type: object
          properties:
            code:
              type: number
          required:
            - code
      required:
        - meta
        - error
      x-examples:
        example-1:
          meta:
            status: 400
          error:
            code: 41002
    examples:
      Example:
        meta:
          status: 400
        error:
          code: 41002
  Unauthorized:
    description: ''
    content:
      application/json:
        schema:
          properties:
            id:
              type: string
    schema:
      description: ''
      type: object
      properties:
        meta:
          type: object
          properties:
            status:
              type: number
          required:
            - status
        error:
          type: object
          properties:
            code:
              type: number
          required:
            - code
      required:
        - meta
        - error
      x-examples:
        example-1:
          meta:
            status: 401
          error:
            code: 85401
